main {
  position: absolute; /* Position-Width make the html fill the screen*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  border: 0px;
  margin: 0px;
  height: 100%;
	width: 100%;
  color: #e5e7eb; /* Global text color */
  background-color: #1e40af; /* Global background color */
  font-family: Roboto, Arial, Helvetica, sans-serif; /* Global font */
}
tbody, th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid;
}
#headRow {
  height: 23px;
  align-items: center;
  justify-content: center;
}
.head {
  height: 23px;
  color: #e5e7eb;
  border: 0px solid;
  display: flex; /* Display-Justify make the top bar horizontal */
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  padding: 0px;
  flex: 33%;
  width: 100%;
}
.true { /* A class used when an answer is correct */
  background-color: #2fce37;
}
.false { /* A class used when an answer is incorrect */
  background-color: #e42828;
}
table {
  border-collapse: collapse;
  border-spacing: 1px;
  height: calc(100% - 23px); /* Makes the table use the rest of the space in the screen without scrolling */
	width: 100%;
}